
.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe::before{
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	left: 0;
	background: #252b42;
}
.subscribe__conteiner {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	padding: 30px 50px;
	align-items: center;
	background: #17213C;
	border-radius: 2px;
}
@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0px 30px;
	}
}
.subscribe__titli {
	color: #fff;
	Font-size: 133%;
   line-height: 32px;
	font-weight: 700;
   letter-spacing: 0.1px;
}
@media (max-width: 810px){
	.subscribe__titli{
		margin: 0px 0px 20px 0px ;
	}
	.subscribe__body{
		margin: 0px -15px;
		padding: 20px 15px;
	}
}
@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
	.subscribe__titli {
	   max-width: 266px;
	}
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	background: #F9F9F9;
	color: #737373;
	padding: 0px 20px;
   border: 1px solid #E6E6E6;
	border-right: 0;
   box-sizing: border-box;
   border-radius: 5px 0 0 5px;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	background: #FF7B47;
   border: 1px solid #E6E6E6;
   border-radius: 0px 5px 5px 0px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
	color: #fff;
	transition: all 0.3 ease 0s;
	padding: 0px 22px;
}
.subscribe__button:hover{
	background-color: #944a2d;
}
@media (max-width: 810px){
	.subscribe__button{
		padding: 0px 15px;
	}
	.subscribe__input {
		padding: 0px 15px;
	}
}